@import "../../styles/global.scss";

.Contents {
    h2 {
        font-size: 1.2rem;
    }
    p {
        margin-left: 1rem;
    }
}
.CardArea {
    max-height: calc(80vh - 200px);
    overflow-y: auto;
}
.CardList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.Card {
    width: 200px;
    flex-flow: column;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
    >*:hover {
        // filter: grayscale(0.10);
        background-color: rgba($primary, .2);
    }

    &.Active {
        >* {
            background-color: rgba($primary, .5);
        }
    }
}
.ShowNext {
    display: flex;
    justify-content: center;
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
}
.SpinnerArea {
    text-align: center;
}