.Form {
    height: 10rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    background-color: rgba(#eff, .8);
    overflow-y: scroll;
    .Col {
        display: flex;
        flex-direction: column;
        
        margin-left: 20px;
        margin-right: 20px;

        min-width: 7rem;
        // max-width: 15rem;

        .Row {
            display: flex;
            flex-direction: row;
        }

        .PropName {
            font-weight: bold;
        }
        label {
            display: inline-block;
            margin-left: 1rem;
        }
        .ListArea {
            max-width: 10rem;
            overflow: auto;
        }
    }
}
.Map {
    // height: calc(100vh - 10rem);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}