@import '../../styles/global.scss';

.Icon {
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    color: var(--dark-026);
    cursor: pointer;
    width: 30px;
    border: 1px solid rgba(#aaa, 0);
    border-radius: 20px;
    text-align: center;

    &:hover {
        border: 1px solid $dark-026;
        filter: brightness(1.2);
    }
}
.ToolTip {
    color:var(--white) !important;
}

.PopupMenu {
    width: 10rem;
    padding: 0 !important;
    color:var(--white) !important;

    ul {
        list-style: none;
        pointer-events: all;
        margin: 0;
        padding: 0;
    }

    li {
        padding: .2rem 1rem;
        cursor: pointer;
        &:hover {
            filter: brightness(0.5);
            // background-color: $secondary;
        }
    }
}
