/*
 * Bootstrap定義
 */
$primary: #17a2b8;
$secondary: #ddd;
$info: rgb(207, 189, 154);
$white: #fcfcfc;
$black: #444;

 /*
 * その他
 */
$dark-087: rgba(0,0,0,0.87);
$dark-054: rgba(0,0,0,0.54);
$dark-026: rgba(0,0,0,0.26);
$dark-012: rgba(0,0,0,0.12);

$shadow: drop-shadow(2px 2px 2px $dark-026);
