/*
 * Bootstrap定義
 */
@import './bs-custom.scss';

 /*
 * その他
 */
$dark-087: rgba(0,0,0,0.87);
$dark-054: rgba(0,0,0,0.54);
$dark-026: rgba(0,0,0,0.26);
$dark-012: rgba(0,0,0,0.12);

$shadow: drop-shadow(2px 2px 2px $dark-026);
