@import '../../styles/global.scss';

.Link {
    text-decoration: underline;
    cursor: pointer;
    color: $primary;
}
.IconArea {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.Icon {
    height: 36px;
    width: 36px;
}
.Item {
    margin: 10px 0;
    // border-top: 1px solid $secondary;
    padding-top: .5rem;
    padding: .5rem;

    .Item {
        // margin-left: 1rem;
        border: 1px solid var(--secondary-border-color);
        border-radius: 5px;

    }
}
.ItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-bottom: 1px solid var(--secondary-border-color);
    margin-bottom: 5px;
    .Title {
        font-weight: bold;
    }
    .IconAreas {
        min-width: 60px;
        text-align: right;
    }
}
.CategoryArea {
    text-align: right;
}
.ImageContainer {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.Image,.Video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}
.Date {
    margin-bottom: .5rem;
    color: $info;
}
.Overview {
    font-size: 90%;
}