.Container {
    position: relative;
    *:before, *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}
.ConditionArea {
    
}
.CardArea {
    height: 500px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

        li {
            flex-basis: calc(50% - 10px);
            padding: 0.25rem;
        }
    }

    .ReadMore {
        width: 100%;
        text-align: center;
    }

}
.SpinnerArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 45%;
    text-align: center;
    background-color: rgba(#fff, .5);
}
