.Form {
    height: 8rem;
    display: flex;
    .Col {
        margin-left: 20px;
        label {
            display: inline-block;
            margin-left: 1rem;
        }
    }
}
.Map {
    height: calc(100vh - 8rem);
    width: 100vw;
}