.SubMenu {
    list-style: none;
    pointer-events: all;
    margin: 0;
    padding: 0;

    li {
        padding: .2rem 1rem;
        cursor: pointer;
        &:hover {
            filter: brightness(0.5);
            // background-color: $secondary;
        }
    }
}