.IconAreas {
    min-width: 60px;
    text-align: right;
}
.ImageContainer {
    width: 300px;
    position: relative;
    overflow: hidden;
    // cursor: pointer;
}
.ThreeDots {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    // cursor: pointer;
}