@import '../../styles/global.scss';

$radius: 5px;
.Popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: $radius;
    border: 1px solid white;
    bottom: 12px;
    left: -50px;
    // min-width: 200px;
    // max-width: 200px;
    user-select: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.Minimum {
        left: -15px;
        min-width: 30px;
        width: 30px;
        height: 30px;
        display: inline-flex;
        color: #888;
        cursor: pointer;

        &:after {
            margin-left: -43px;
        }
        &:before {
            margin-left: -44px;
        }
    }
}
$arrow-offset-left: 5px;
.Triangle {
    margin-top: -1px;
    margin-left: calc($arrow-offset-left - $arrow-width / 2);
    background: $white;
    height: $arrow-height;
    width: $arrow-width;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    z-index: 5;
}

.Contents {
    width: 100%;
    display: flex;
    // min-width: 300px;
    min-height: 30px;
    // max-height: calc(50vh - $radius * 2);
    overflow-y: auto;
    overflow-x: hidden;
}
.Number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    min-width: 1.5rem;
    text-align: center;
    background: #fff;
}
.ImageContainer {
    width: 200px;
    position: relative;
    overflow: hidden;
}
.Image {
    width: 100%;
}
.ThreeDots {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}