@import '../../styles/global.scss';

$radius: 5px;
.Popup {
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: $radius;
    border: 1px solid white;
    bottom: 12px;
    user-select: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.Minimum {
        left: -15px;
        // min-width: 30px;
        display: inline-flex;
        color: #888;
        cursor: pointer;

        &:after {
            margin-left: -43px;
        }
        &:before {
            margin-left: -44px;
        }
    }
}
$arrow-offset-left: 5px;
.Triangle {
    margin-top: -1px;
    margin-left: calc($arrow-offset-left - $arrow-width / 2);
    background: $white;
    height: $arrow-height;
    width: $arrow-width;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.Contents {
    width: 100%;
    display: flex;
    // min-width: 300px;
    min-height: 30px;
    // max-height: calc(50vh - $radius * 2);
    overflow-y: auto;
    overflow-x: hidden;
}
.Number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    min-width: 1.5rem;
    text-align: center;
    background: #fff;
}
.ImageContainer {
    width: 200px;
    height: 130px;
    position: relative;
    overflow: hidden;
}
.Large {
    .ImageContainer {
        width: 200px;
        height: 130px;
    }
    &.Popup {
        left: -50px;
    }
    &.Popup.Minimum {
        left: -15px;
        width: 36px;
        height: 36px;
    }
}
.Medium {
    .ImageContainer {
        width: 100px;
        height: 65px;
    }
    &.Popup {
        left: -40px;
    }
    &.Popup.Minimum {
        left: -13px;
        width: 28px;
        height: 28px;
    }
}
.Small {
    .ImageContainer {
        width: 50px;
        height: 32px;
    }
    &.Popup {
        left: -25px;
    }
    &.Popup.Minimum {
        left: -8px;
        width: 24px;
        height: 24px;
    }
}

.Image {
    width: 100%;
}
.ThreeDots {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}