@import '../../../styles/global.scss';

.Container {
    position: relative;
    width: 100%;
    cursor: pointer;
}
/* 選択中のカテゴリ表示エリア */
.SelectedArea {
    min-height: 2rem;

    &.Edit {
        border: 1px solid var(--dark-012);
    }
}
.CandidateList {
    position: fixed;
    max-width: 380px;
    filter: $shadow;
    display: flex;
    background-color: var(--dark-012);
}
.InputArea {
    background-color: rgba(#fff, 0);
    border: 0px;
    outline: 0;
}
