@import '../../../styles/global.scss';

.Container {
    position: relative;
}
/* 選択中のカテゴリ表示エリア */
.SelectedArea {
    min-height: 3rem;
}
.CandidateList {
    position: fixed;
    width: inherit;
    max-width: 500px;
    filter: $shadow;
    display: flex;
}
.InputArea {
    background-color: rgba(#fff, 0);
    border: 0px;
    outline: 0;
}
