@import '../../styles/global.scss';
.ContainerWrapper {
    z-index: 20;
}
.Container {
    background: $white;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    overflow-y: auto;
}

$arrow-offset-left: 45px;
.Triangle {
    margin-top: -1px;
    margin-left: calc($arrow-offset-left - $arrow-width / 2);
    background: $white;
    height: $arrow-height;
    width: $arrow-width;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.MenuItem {
    // padding: .2rem;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    cursor: pointer;
    &:hover {
        background-color: $dark-012;
    }

    .NameArea {
        display: flex;
        min-height: 2.5rem;
        align-items: center;

        .Icon {
            margin: 0px 5px;
            color: $dark-054;
        }

    }
    img {
        height: 2rem;
        width: 2.5rem;
        margin-right: .5rem;
        object-fit: contain;
    }

}