@import "../../styles/global.scss";

.LandnameOverlayContainer {
    pointer-events: none !important;
    z-index: 1000;
}
  
.LandnameOverlay {
    background-color: $dark-054;
    color: #ffffff;
    transform: translate(-50%, -50%);
    padding: 5px 10px 5px 10px;
  
    /* Fade In */
    &.fadeIn {
      animation: fadeIn 2s forwards;
    }
    // opacity: 0;
    // opacity: 1;
  
    &.fadeOut {
      animation: fadeOut 2s forwards;
      // opacity: 0;
    }
  
}

.Hide {
    opacity: 0;
}