.ItemHeader {
    width: 100%;
    display: flex;

    overflow: hidden;
    white-space: nowrap;

    .Title {
        text-overflow: ellipsis;
        white-space: nowrap;        
        overflow: hidden;
    }
    .SubMenu {

    }
}
.NoContentParagraph {
    text-align: center;
}