.Body {
    width: 600px;
    display: flex;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;

        li {
            width: 200px;
            flex-flow: column;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}