.Container {
    display: flex;
    padding: 5px;
    align-items: flex-start;
}
.Label {
    min-width: 8rem;
}
.Input {
    border: 1px solid var(--dark-012);
    border-radius: 5px;
    width: calc(100% - 8rem);
    font-size: 1rem;
}