.TableContainer {
    overflow: auto;
    max-height: calc(100vh - 300px);
}
.Table {
    border-collapse:separate;
    border-spacing: 10px;

    th {
        position: sticky;
        top: 0;
        text-wrap: nowrap;
        background-color: #fff;
    }

    td {
        text-align: center;
    }
}