.Card {
    width: 100%;
    border: var(--dark-012) 1px solid;
    border-radius: 5px;

    &.Clickable {
        cursor: pointer;
        
        &:hover {
            filter: brightness(0.8);
        }            
    }

    .Image {
        background-color: rgba(#eee, .5);
        width: 100%;
        aspect-ratio: 1 /1;

        img {
            width: 100%;
            aspect-ratio: 1 /1;
            object-fit: cover;
        }

        .NoImg {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--dark-054);
            height: 100%;
            &:after {
                content: 'No Image',
            }
        }


    }

    .Body {
        padding: 5px;
        background-color: #fff;

        .Title {
        }
        .Overview {
            font-size: 80%;
            color: var(--dark-054);
        }
    }
}
