.ErrorContainer {
    background-color: #fffa;
    color: var(--black);
    padding: 5px;
    border-radius: 10px;

    p {
        margin: 0;
    }

    button {
        background: unset;
        border: 0;
        text-decoration: underline;        
        vertical-align: middle;
        color: var(--primary-color);
        cursor: pointer;
    }
}