.Group {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--dark-012);
    border-radius: 5px;
}
.Item {
    display: flex;
    border-bottom: 1px solid var(--dark-012);
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        opacity:0.5;
        transition:0.3s;
    }
}